# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.*

# Build / cache artifacts
coverage/
dist/
tmp/
temp/
.cache/
reports/

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
/database/templates
