<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="/src/scripts/admin-guard.js"></script>
    <title>Editar Proveedor | ViajesUCAB</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__content">
            <a class="navbar__brand" href="/home">ViajesUCAB</a>
        </div>
    </header>

    <div class="dashboard-container">
        <main style="grid-column: 1 / -1; max-width: 800px; margin: 0 auto;">
            <div class="crud-form-wrapper">
                <div class="crud-header">
                    <h2>Modificar Proveedor</h2>
                </div>

                <form id="editForm">
                    <div class="form-row">
                        <label>Nombre</label>
                        <input type="text" name="nombre" id="nombreInput" class="form-input" required>
                    </div>

                    <div class="form-row" id="extraFieldsEdit"></div>

                    <div class="form-row">
                        <label>Ubicación</label>
                        <select id="lugarSelectEdit" name="lugar_cod" class="form-input"></select>
                    </div>

                    <div class="form-actions" style="justify-content: center;">
                        <button type="submit" class="btn-secondary">Actualizar</button>
                        <a href="/admin/proveedores" class="btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <script src="/src/scripts/admin-edit.js"></script>
</body>
</html>