<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario | Proveedor ViajesUCAB</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__content">
            <a class="navbar__brand" href="/">ViajesUCAB</a>
            <div>
                <a href="/login" style="text-decoration: underline; font-size: 0.9rem;">Cerrar Sesión</a>
            </div>
        </div>
    </header>

    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="sidebar__title">
                <h3>Panel Proveedor</h3>
            </div>
            <nav class="sidebar__nav">
                <a href="#" style="background: #000; color: #fff;">Servicios</a>
                <a href="/inventario" class="active">Inventario</a>
                <a href="#">Promociones</a>
            </nav>
        </aside>
        </div>
</body>
</html>