<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorar | ViajesUCAB</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__content">
            <a class="navbar__brand" href="/">ViajesUCAB</a>
            <nav class="navbar__links">
                <a href="/busqueda?type=vuelos">Vuelos</a>
                <a href="/busqueda?type=alojamientos">Hoteles</a>
                <a href="/busqueda?type=viajes">Cruceros</a>
                <a href="/busqueda?type=paquetes">Paquetes</a>
            </nav>
            <div style="display: flex; gap: 10px;">
                <a href="/itinerario" class="cta-button" style="background: #000;">Itinerario</a>
                <a href="/perfil" class="cta-button">Mi Cuenta</a>
            </div>
        </div>
    </header>

    <main class="wrapper">
        </main>

    <footer>
        <p>&copy; 2025 ViajesUCAB - Proyecto BD</p>
    </footer>
</body>
</html>