<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Servicio | ViajesUCAB</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__content">
            <a class="navbar__brand" href="/">ViajesUCAB</a>
            <div style="display: flex; gap: 10px;">
                <a href="/itinerario" class="cta-button" style="background: #000;">Itinerario</a>
                <a href="/perfil" class="cta-button">Mi Cuenta</a>
            </div>
        </div>
    </header>
    <main class="wrapper">
        </main>
    <script src="/src/scripts/detail.js"></script>
</body>
</html>